@using HairSalon.Models;

<h1>To Do List</h1>
<h2>Category: @Model["specialty"].Name</h2>
<hr />

@if (@Model["specialtyStylist"].Count != 0)
{
  <h4>Here are all the stylists with this specialty:</h4>
  <ul>
    @foreach (var stylist in @Model["specialtyStylist"])
    {
      <li>@stylist.FirstName @stylist.LastName</li>
    }
  </ul>
}

<h4>Add a stylist to this specialty:</h4>

<form action='/specialist/@Model["specialty"].Id/stylists/new' method='post'>
  <label for='stylistId'>Select a stylist</label>
  <select id='stylistId' name='stylistId' type='text'>

    @foreach (var stylist in @Model["allStylist"])
    {
      <option value='@stylist.Id'>@stylist.FirstName</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/">Return to Main Page</a></p>
